# Basic Python

## 1st meeting 29-09-2020

First let's check the pyhton version we're currently use

In [2]:
#check python version 
import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

### Statement

A statement or expression is an instruction the computer will run or execute. Perhaps the simplest program you can write is a print statement.

In [3]:
print('Hello World!')

Hello World!

In [2]:
print('Hello Python 101')

Hello Python 101

### Comment

To write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [5]:
#practice writing comment 
print('Hello World!') # this will be printed as string 
#print('Hi!')

Hello World!

### Type of Objects in Python

#### 1. String

String are object in character or sentence. Numbers also could be string when numbers are between ''. Here are examples script to check type of object in python.

In [8]:
type('!@U*')

str

In [9]:
type('Hello world!')

str

In [10]:
type('1')

str

In [11]:
type('125')

str

#### 2. INTEGER

Integer = bilangan bulat

In [12]:
type(11)

int

In [13]:
type(739298)

int

In [14]:
type(5000000)

int

In [15]:
type(-1)

int

In [16]:
type(-92390101)

int

#### 4. Float

Float = bilangan real

In [17]:
type(235.928)

float

In [18]:
type(-78742.7237)

float

#### 5. Boolean

Boolean is True or False / Yes or No

In [19]:
type(True)

bool

In [20]:
type(False)

bool

### TYPE - CASTING

Type casting: perintah untuk merubah tipe objek. 

From float to integer akan dibulatkan ke bawah

In [25]:
float(2)

2.0

In [23]:
int(25.8754)

25

In [26]:
int(True)

1

In [27]:
int(False)

0

In [28]:
bool(1)

True

In [29]:
bool(0)

False

### Expression

#### Mathematical Operation

Operators: 
'+' penjumlahan, '-' pengurangan, '*' perkalian, '/' pembagian, '//' pembagian dengan pembulatan ke bawah

In [30]:
43+60+16+41

160

In [1]:
50-60

-10

In [2]:
5*5

25

In [3]:
2^3

1

In [4]:
3^2

1

In [5]:
3**2

9

In [6]:
2**3

8

In [7]:
25//5

5

In [8]:
25//6

4

In [9]:
25/6

4.166666666666667

In [10]:
2*60+30

150

In [11]:
(30+2)*60

1920

#### Variables

We can use variables to store values, in this case, we assign a value of 1 to the variable my_variable using the assignment operator. i.e., the equals sign.

In [13]:
x=160
y=x/2
print(y)

80.0

In [14]:
x1=180
x1=x1/3

In [15]:
print(x1)

60.0

### List and Tuples

#### 1. Tuples

a. Tuples are ordered in sequences 
b. Tuples are written as comma-seperated elements within parentheses 
c. In python there are different types; string, float, integer. The can all be contained in Tuple, but the variable is tuple

In [4]:
tup=("disco",10,1.2)

In [17]:
#element tuple dihitung dari 0
tup[2]

1.2

In [5]:
tup[0]

'disco'

In [6]:
tup[1]

10

Elemen tuple juga dapat dihitung dengan urutan negatif, dengan acuan elemen pertama memliki index 0

In [8]:
tup[-3]

'disco'

In [9]:
tup[-2]

10

In [10]:
tup[-1]

1.2

use command "len" to obtain length of tupple

In [11]:
len(tup)

3

Tupple is immutable, it means that we can't change them. when the length is 3 than we cant add another element nor delete one element

In [12]:
Ratings=(10,9,6,5,10,8,8,6,2)

As a consequence of immutability, if we would like to manipulate a tuple, we must create a new tuple instead. From the example below, RatingsSorted is the new tuple

RatingsSorted= sorted(Ratings)

In [14]:
print(RatingsSorted)

[2, 5, 6, 6, 8, 8, 9, 10, 10]

#### Tuples : Nesting

A tuples can contain another tuples, this is called nesting

In [15]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [16]:
len(NT)

5

In [17]:
NT[0]

1

In [18]:
NT[1]

2

In [19]:
NT[2]

('pop', 'rock')

In [20]:
NT[3]

(3, 4)

In [21]:
NT[4]

('disco', (1, 2))

In [22]:
NT[2][0]

'pop'

In [24]:
NT[2][1]

'rock'

In [25]:
NT[3][0]

3

In [26]:
NT[3][1]

4

In [27]:
NT[4][0]

'disco'

In [28]:
NT[4][1]

(1, 2)

In [29]:
NT[4][1][0]

1

In [30]:
NT[4][1][1]

2

## LIST

List is also a ordered sequences. A List is represented with square brackets. List is MUTABLE. List also indexed from 0 and can be negative integer base on the first index.

In [31]:
L=["Michael Jackson",10.1,1982]

In [32]:
L[0]

'Michael Jackson'

In [34]:
L[1]

10.1

In [35]:
L[2]

1982

In [36]:
L[-3]

'Michael Jackson'

In [37]:
L[-2]

10.1

In [38]:
L[-1]

1982

### List Slicing

List is mutable, so we can add or nesting elemen in the list

In [39]:
L.extend(['pop', 10])

In [40]:
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

### L.append(['pop',10])

In [42]:
L

['Michael Jackson', 10.1, 1982, 'pop', 10, ['pop', 10]]

In [43]:
del(L[3])
L

['Michael Jackson', 10.1, 1982, 10, ['pop', 10]]

In [45]:
del(L[3])
L

['Michael Jackson', 10.1, 1982]

In [46]:
L[0:3]

['Michael Jackson', 10.1, 1982]

In [48]:
L[0:2]

['Michael Jackson', 10.1]

In [49]:
L[1:3]

[10.1, 1982]

### Convert STRING to LIST

In [50]:
"hard rock".split()

['hard', 'rock']

In [51]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

## SET

Set is type of collection. Unlike List and Tuples they are unordered, this means SET do not record element position. Set only have unique element, this mean only one perticular element in a set. When the actual set created the duplicated item will not be presented. To define a set, curly brackets is used.

In [54]:
Set1={"pop","rock","soul","hard rock","rock","R&B","rock","Disco"}

In [55]:
Set1

{'Disco', 'R&B', 'hard rock', 'pop', 'rock', 'soul'}

In [56]:
album_list=["Micheal Jackson","Thriller","Thriller","1982"]

In [57]:
album_set=set(album_list)
album_set

{'1982', 'Micheal Jackson', 'Thriller'}

### SET Operation

In [58]:
A={"Thriller","Back in Black","AC/DC"}
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [59]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [60]:
"AC/DC" in A

True

In [61]:
"who" in A

False

### SET Intersection

In [62]:
album_set_1={"AC/DC","Back in Black","Thriller"}
album_set_2={"AC/DC","Back in Black","The Dark Side of The Moon"}
album_set_1

{'AC/DC', 'Back in Black', 'Thriller'}

In [64]:
album_set_2

{'AC/DC', 'Back in Black', 'The Dark Side of The Moon'}

In [65]:
album_set_3=album_set_1 & album_set_2
album_set_3

{'AC/DC', 'Back in Black'}

In [67]:
album_set_3.issubset(album_set_1)

True

In [68]:
album_set_3.issubset(album_set_2)

True

### SET Union

In [66]:
album_set_1.union(album_set_2)

{'AC/DC', 'Back in Black', 'The Dark Side of The Moon', 'Thriller'}

## DICTIONARY

Dictionaries are donated with curly brackets. The jeys have to be immutable and unique. The values can be immutable, mutable, and duplicates. Each key and value pair is sperated by comma.

In [69]:
DICT={"Thriller":1982,"Back in Black":1980,"The Dark Side of The Moon":1973,"The Bodyguard":1992}

In [70]:
DICT["Thriller"]

1982

In [71]:
del(DICT["Back in Black"])

In [72]:
DICT

{'Thriller': 1982, 'The Dark Side of The Moon': 1973, 'The Bodyguard': 1992}

In [73]:
"Thriller" in DICT

True

In [74]:
"Take A Leap" in DICT

False

In [75]:
DICT.keys()

dict_keys(['Thriller', 'The Dark Side of The Moon', 'The Bodyguard'])

In [76]:
DICT.values()

dict_values([1982, 1973, 1992])