<a href="https://colab.research.google.com/github/zulfacn/PortoFolio/blob/master/Basic_Python_for_Data_Science_2nd_Meeting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A. Condition and Branching

## 1. Condition

In [ ]:
#membuat variabel 
a = 6

#cek apakah a = 7
a==7

False

In [ ]:
#cek apakah a>5
a > 5

True

In [ ]:
#cek apakah a~=2
a != 2

True

Selain perbandingan numerik, condition juga dapat melakukan perbandingan karater dan string

In [ ]:
"AC/DC"=="Michael Jackson"

False

In [ ]:
"AC/DC" != "Michael Jackson"

True

## 2. Branching

Branching allows us to run different
statements for a different input.
It's helpful to think of an “if statement” as a
locked room:
If the statement is true, you can enter the
room, and your program can run some
predefined task.
If the statement is false, your program will
skip the task

### a. Branching - If

###### **Example**

For example, there will be AC/DC's consert tonight. If the individual is 18 or older, they can enter the ACDC concert. If they are under the age of 18, they cannot enter the concert.

In [ ]:
age = 15
if (age >= 18):
  print("You can enter")
print("You can move on")

You can move on

#### b. Branching - Else

The “else statement” will run a different block
of code, if the same condition is false.

##### Example

Let’s use the ACDC concert analogy again; if the user is 17, they cannot go to the ACDC concert, but they can go to the Meat Loaf concert . If the individual is 19, the condition is true. They can enter the ACDC concert, then they can move on as before.

In [ ]:
age = 19
if (age > 18):
  print ("you can enter")
else: 
  print ("go watch Meat Loaf")
print ("you can move on ")

you can enter
you can move on

#### c. Branching - Elif

The elif statement, short for “else if,” allows us to check additional conditions, if the proceeding condition is false. If the condition is true, the alternate expressions will be run.

##### Example

Consider the concert example, if the individual is 18, they will go to the Pink Floyd concert, instead of attending the ACDC or
Meat Loaf concert. The person of 18 years of age enters the area as they are not over 19 years of age. They cannot see ACDC, but as they are 18 years, they attend Pink Floyd. After seeing Pink Floyd, they move on.

In [ ]:
age = 22
if (age > 18):
  print ("you can enter")
elif (age==18):
  print("go see Pink Floyd")
else: 
    print("go see Meat Loaf")
print("you can move on")

you can enter
you can move on

# B. Loops

## 1. Loops - for

In this section, we will cover “for loops”. We will focus on lists, but many of the procedures can be used on tuples. Loops perform a task over and over.

##### Example 1

In [ ]:
#replace all square_1 to white
square_1 = ["red","yellow","green","purple","blue"]
for i in range(0,5):
  square_1[i] = "white"
print(square_1)

['white', 'white', 'white', 'white', 'white']

##### Example 2

In [ ]:
#mention all member of list squares
squares = ["red","yellow","green"]
for square in squares:
  print(square)

red
yellow
green

##### Example 3

In [ ]:
#mention all member of list squares
squares = ["red","yellow","green"]
for i,square in enumerate(squares):
  square
  i
  print(square)

red
yellow
green

## 2. While Loops

“While loops” are similar to “for loops”, but instead of executing a statement a set number of times, a while loop will only run if a condition is met.

##### Example

In [ ]:
count = 0
while (count < 9):
    print ("The count is: ", count)
    count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Good bye!

# C. Function

Functions take some input then produce some output or change. The function is just a piece of code you can reuse.

You can implement your own function, but in many cases, you use other people’s functions

#### Example 1

In [ ]:
def function(a):
  """add 1 to a"""
  b=a+1;
  
  print(a,"+1=",b)
  a=2
  return b

Python has many built-in functions; you don't have to know how those functions work internally, but simply what task those functions perform.

#### Example 2

In [ ]:
def add1(a):
  b=a+1

  return(b)
c=add1(5)
c

6

## 1. Function - len

The function len takes in an input of type sequence, such as a string or list, or type collection, such as a dictionary or set, and returns the length of that sequence or collection .

#### Example

In [ ]:
album_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
L=len(album_ratings)
L

8

## 2. Function - sum

Function sum takes in an ite rable like a tuple or list and returns the total of all the elements

#### Example

In [ ]:
album_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
S=sum(album_ratings)
S

70.0

## 3. Function - Sort

We can also use the list method sort. Methods are similar to. functions. Let's use this as an example to illustrate the difference. The function sorted Returns a new sorted list or tuple.

In [ ]:
album_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
sorted_album_ratings=sorted(album_ratings)
sorted_album_ratings

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

## 4. Function  - Mult

The function mult multiplies two numbers; in other words, it finds their product.

If we pass the integers 2 and 3, the result is a new integer.

If we pass the integer 10 and the float 3.14, the result is a float 31.4.

If we pass in the integer two and the string “Michael Jackson,” the string Michael Jackson is repeated two
times.

This is because the multiplication symbol can also mean repeat a sequence.

#### Example

In [ ]:
def Mult(a,b):
  c=a*b
  return(c)

In [ ]:
Mult(2,2)

4

In [ ]:
Mult(10,3.14)

31.400000000000002

In [ ]:
Mult(2,"Alexander")

'AlexanderAlexander'

## 5. Function - Return

In many cases a function does not have a return statement. In these cases, Python will return the special
“None” object.

Practically speaking, if your function has no return statement, you can treat it as if the function returns nothing
at all.

Python doesn’t allow a function to have an empty body, so we can use the keyword pass, which doesn’t do
anything, but satisfies the requirement of a non-empty body.

#### Example

In [ ]:
def NoWork():
  pass
print (NoWork())

None

Usually, functions perform more than one task. This function prints a statement then returns a value.

In [ ]:
clear a

In [ ]:
a=2
def add1(a):
  b=a+1;
  print(a,"plus 1 equal",b)
  return b